<?xml version="1.0" encoding="utf-8" ?>
<events>
  <event selected="true">http://wiki.teamliquid.net/starcraft2/Gold_Series_International_2016</event>
  <event selected="true">http://wiki.teamliquid.net/starcraft2/Ting_Open</event>
  <event selected="true">http://wiki.teamliquid.net/starcraft2/Kung_Fu_Cup/2016/1</event>
  <event selected="true">http://wiki.teamliquid.net/starcraft2/Copa_America_2016/Season_1</event>
  <event selected="true">http://wiki.teamliquid.net/starcraft2/IEM_Season_X_-_Taipei</event>
  <event selected="true">http://wiki.teamliquid.net/starcraft2/GPL_2015/Grand_Finals</event>
</events>