<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dir242DC17B8DFC53C13CAF172FC08B730A" Name="de" />
            <Directory Id="dir1710C20C4C4513ACEA8627A52788727F" Name="en" />
            <Directory Id="dir9AE38F4F5CB5E565E774521E138F44FD" Name="es" />
            <Directory Id="dirB55DFDA91FEE7CCCBC65CA7493B75748" Name="fr" />
            <Directory Id="dir45DE18DD71F3E8DD6BE4A0E2B48778C8" Name="it" />
            <Directory Id="dir997B58958EFAE06BB705E870622AB899" Name="ja" />
            <Directory Id="dirF152986C1E6339E5EF84FD1370841521" Name="ko" />
            <Directory Id="dirE9205C68F964857267FD3312DBFF9A91" Name="ru" />
            <Directory Id="dir43FCCFA109FBF584D9155DCE31E452EB" Name="x64" />
            <Directory Id="dir97F42FF68945B97AAE670945C4FDAE93" Name="x86" />
            <Directory Id="dir4A8DD77DBC79775EC39CACBC8AA06107" Name="zh-Hans" />
            <Directory Id="dir083BC4C92455CD933FA93376E7459C85" Name="zh-Hant" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DesktopClientComponent">
            <Component Id="cmp41FFBB5719B6A0C3D15A10608E519227" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filB1A7F163DA8FD34E4061423778D7990E" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\AligulacProxy.dll" />
            </Component>
            
            <Component Id="cmpFD65F52CD5EC0B46A750F8EEFC3D4422" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil1F7E777B326B02F60B86F747002F8605" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\AutoMapper.dll" />
            </Component>
            
            <Component Id="cmpC9561ABEA35D8420BA31A4E79E9B5673" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filBE88D664C200AB153C17EA4E66221EFA" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\DesktopClient.exe" />
            </Component>
            <Component Id="cmpC217BC1AB76BAADB34FE0D395DCBDA42" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filB160F77880152951BCC99325A623975E" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\DesktopClient.exe.config" />
            </Component>
            
            
            
            
            <Component Id="cmp0BFABD100B4065787B40AA6B05938DF7" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil1D38723F4A034EDE78B6A3B94EFB99F2" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\EntityFramework.dll" />
            </Component>
            <Component Id="cmpB8E7B130B6B78399B39307530A3D65B2" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil55247FAD2E00E96001D9F9C3E501E9FA" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\EntityFramework.SqlServer.dll" />
            </Component>
            
            
            <Component Id="cmp83D5FAC530610CEEC792229B4CB4C268" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil513AE9598A2B521142DC5B8F9C513637" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\FirstFloor.ModernUI.dll" />
            </Component>
            
            <Component Id="cmp0A996586383240FA3E04EF819E036618" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filFEFD2783E5DA4CE0FD0CC448B98B8282" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\GalaSoft.MvvmLight.dll" />
            </Component>
            <Component Id="cmp17BFF5FB30D3632422DA2006E44AD968" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil9644536B770B8F5B869068B0AA7CED33" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\GalaSoft.MvvmLight.Extras.dll" />
            </Component>
            
            
            
            <Component Id="cmpBB590427EC85B15F8307BAB5F2C0D4FD" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filC9FFF83F6E76026272222D6FF39444A2" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\GalaSoft.MvvmLight.Platform.dll" />
            </Component>
            
            
            
            <Component Id="cmp3464F8730E573D338954EC7195CFB4A4" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil73F07CE42A5EF653313AD307E0E68BDC" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\HtmlAgilityPack.dll" />
            </Component>
            
            
            <Component Id="cmpAD8551805C0E384D4FD6CD718C5E8381" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil1300C7FBD2C9D42B5651E43A08F7DA1E" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\Iesi.Collections.dll" />
            </Component>
            
            <Component Id="cmp227B2F253D6CB8A27087F47F70A62459" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filB5261509ADB8E7D2D70A1C67DCA37876" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\Microsoft.Expression.Interactions.dll" />
            </Component>
            <Component Id="cmp4A44A96EF3A06266E3D8701B2F10CDC3" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil2925817E964978A313EB8C4EB52F1AEE" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\Microsoft.Practices.EnterpriseLibrary.Common.dll" />
            </Component>
            
            <Component Id="cmp81E5BBBAD58487DCF00A6208CFD8CB99" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil2D28902B9C59E4B1CE71EF61EEBFDC6F" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\Microsoft.Practices.EnterpriseLibrary.Validation.dll" />
            </Component>
            
            <Component Id="cmpF2F1C15A47B64F045101B1AE5B4D6054" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filC342596B66E98254BB6E1CFFE50AE4AA" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\Microsoft.Practices.ServiceLocation.dll" />
            </Component>
            
            
            <Component Id="cmpAA856A11EEF773F32618D29332CADFD0" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filFBB0E3892854598F759A072FB8581B46" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\Microsoft.Practices.Unity.Configuration.dll" />
            </Component>
            
            <Component Id="cmp5141EFC969B8F1A9A0F1A01FFAD874BA" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filE0B15D2B280E1EDFAB44F822C47D44ED" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\Microsoft.Practices.Unity.dll" />
            </Component>
            <Component Id="cmpB48E67D919D1C42D78781F3B5D6E4336" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil53564AE840DB9CE660FE1F02DB1CB224" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\Microsoft.Practices.Unity.RegistrationByConvention.dll" />
            </Component>
            
            
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\Newtonsoft.Json.dll" />
            </Component>
            
            <Component Id="cmpA1ECE8DB012BBA16B976018E9D98B56D" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filC55FB4457A2C6CA4AE46C6FCC459FDE1" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\NHibernate.dll" />
            </Component>
            
            <Component Id="cmp8EE387F6FCA1282DD2A3AF2C2BEABBF0" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filB28DEA8F8A8F3D6DA5930BA45D90732D" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\StatisticDomain.Database.dll" />
            </Component>
            
            <Component Id="cmp0BB87B5D1C758B9F446A02227AE1BBBD" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filD6EA27420F1CFB6BBAA83E28722258E2" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\StatisticDomain.Model.dll" />
            </Component>
            
            <Component Id="cmp15BA9C1D0F2AF8570576C06EBF8AA163" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil5473C09B705AC5FBFC96B6C30E6A7167" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\StatisticDomain.Service.dll" />
            </Component>
            
            <Component Id="cmp6B7CE49F5F3A518047B74FB6AC2251C5" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil86030949C08D40073D1F77D572C14B0D" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\System.Data.SQLite.dll" />
            </Component>
            <Component Id="cmpF0779F15EC19A57BE1B2F861D7DE696E" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filFCD462E7D1690B3E0A1EC55BB1B7FE6B" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\System.Data.SQLite.EF6.dll" />
            </Component>
            <Component Id="cmp7CD8A031D36A447486DB78F3F83272E7" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil78A6DA4FA512268ADE24A0CEB59C1442" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\System.Data.SQLite.Linq.dll" />
            </Component>
            
            <Component Id="cmp017BFB3832A5B110A2B3A350E13F2A5C" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil17E34524E8398461D615894C92558FE9" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="cmpE01A067AFE41AAF5863517AC52B7E399" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil80B49A0B6E7C97C71B89FD33C21BC9B8" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\Utilities.dll" />
            </Component>
            
            <Component Id="cmp195E5CB0B3AEC76AE0FC5E67E9AE378A" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil6CD403C28A3FA1C675CAA179D974B175" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\WpfControls.dll" />
            </Component>
            <Component Id="cmp4A52AE4E8DFF44FDFE34B767EAD5FDCA" Directory="dir242DC17B8DFC53C13CAF172FC08B730A" Guid="*">
                <File Id="fil3CF06E23E11DB87DF5063C98D9515A21" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\de\Microsoft.Expression.Interactions.resources.dll" />
            </Component>
            <Component Id="cmp4C210D0BB60694002C0E125B5AED82C0" Directory="dir1710C20C4C4513ACEA8627A52788727F" Guid="*">
                <File Id="fil14B6311EC5A70EEF93366E30D14A429C" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\en\Microsoft.Expression.Interactions.resources.dll" />
            </Component>
            <Component Id="cmp42EE2018C2B8C0B132C5B7FDB466A24F" Directory="dir9AE38F4F5CB5E565E774521E138F44FD" Guid="*">
                <File Id="fil3A44FC4D1CFAC432CB43F06358F8293E" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\es\Microsoft.Expression.Interactions.resources.dll" />
            </Component>
            <Component Id="cmpC091C7F4E90831A930ED7F63B31AA52F" Directory="dirB55DFDA91FEE7CCCBC65CA7493B75748" Guid="*">
                <File Id="fil260EB8D506693725160FACD2D8F0CB73" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\fr\Microsoft.Expression.Interactions.resources.dll" />
            </Component>
            <Component Id="cmpDB304B26C1E70DE188F446507D225995" Directory="dir45DE18DD71F3E8DD6BE4A0E2B48778C8" Guid="*">
                <File Id="filAF6662F276A5F70390C4B052F5FD88F2" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\it\Microsoft.Expression.Interactions.resources.dll" />
            </Component>
            <Component Id="cmpC29393459FDFAC4DEFF49CCCB8021FBE" Directory="dir997B58958EFAE06BB705E870622AB899" Guid="*">
                <File Id="fil26FE3182FBA34D4C97A9E6BB05210915" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\ja\Microsoft.Expression.Interactions.resources.dll" />
            </Component>
            <Component Id="cmpFF629150EC284812701B014D2BDF2720" Directory="dirF152986C1E6339E5EF84FD1370841521" Guid="*">
                <File Id="filDC6396250ADDE7AEEAA86562219F93DA" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\ko\Microsoft.Expression.Interactions.resources.dll" />
            </Component>
            <Component Id="cmp5BCA8E7B5DACA2E0F14112B37847EEE3" Directory="dirE9205C68F964857267FD3312DBFF9A91" Guid="*">
                <File Id="filB9EF2F0A4D634639F158027AB9F2E811" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\ru\Microsoft.Expression.Interactions.resources.dll" />
            </Component>
            <Component Id="cmp19F6DF8A2ABC78D782D76F1EEC9A5800" Directory="dir43FCCFA109FBF584D9155DCE31E452EB" Guid="*">
                <File Id="filC7EA62E1AC64247AFBE682E8631402B8" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\x64\SQLite.Interop.dll" />
            </Component>
            <Component Id="cmp77484AF39EF2F8BD64E876C33A1C3E49" Directory="dir97F42FF68945B97AAE670945C4FDAE93" Guid="*">
                <File Id="filD2ACACD0EBAF09B1953E9C3793C13C69" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\x86\SQLite.Interop.dll" />
            </Component>
            <Component Id="cmpFACDDFD1F4A29B7B99849D5AE23A853E" Directory="dir4A8DD77DBC79775EC39CACBC8AA06107" Guid="*">
                <File Id="fil5C2186788437CAAF9A9E06709D15FB94" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\zh-Hans\Microsoft.Expression.Interactions.resources.dll" />
            </Component>
            <Component Id="cmp382BE9EAE578DB41C7D6B91BCFBEEF2F" Directory="dir083BC4C92455CD933FA93376E7459C85" Guid="*">
                <File Id="fil42BE776F60F824667CBEAF1ED0B6157A" KeyPath="yes" Source="$(var.DesktopClientSourcePath)\zh-Hant\Microsoft.Expression.Interactions.resources.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>