<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <property name="query.substitutions">hqlFunction=SQLFUNC</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">Data Source=SEGOTN11479.rds.volvo.com;Initial Catalog=Penta_Co-Op; Integrated Security=True</property>
    <property name="current_session_context_class">call</property>
    <property name="show_sql">false</property>
  </session-factory>
</hibernate-configuration>